<%= partial 'partials/headder' %>
<div class="container">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Youtube Section -->
  <%= partial 'partials/youtube' %>
  <!-- End of container -->
</div>
<!-- Social Links Section -->
<%= partial 'partials/social' %>
